/* body {
    background-image: url("http://hd.wallpaperswide.com/thumbs/gray-t2.jpg");
    background-size: cover;
   background-repeat: no-repeat;
   background-position-x: center;
  
    

  }
   */
